.header__lang-link{
  font-size: 1.5rem;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: .5;
}

.header__lang-link:active {
  text-decoration: underline;
}
