.cover__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.223;
  text-align: center;
  margin: 0 412px 245px;
  padding: 0;
}

@media (max-width: 1279px) {
  .cover__subtitle {
    margin: 0 332px 195px;
  }
}

@media (max-width: 1023px) {
  .cover__subtitle {
    margin: 0 204px 115px;
  }
}

@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.143;
    margin: 0 16px 33px;
  }
}