.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 92px;
  margin-bottom: 92px;
}

@media (max-width: 1023px) {
  .content {
    row-gap: 88px;
  }
}

@media (max-width: 767px) {
  .content {
    row-gap: 64px;
  }
}