.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  position: relative;
  margin: 0 48px;
}

.cover:hover {
  cursor: pointer;
}

@media (max-width: 1279px) {
  .cover {
    margin: 0;
  }
}