.cover {
  max-width: calc(100% - 48px*2);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 48px 92px;
}

.cover:hover {
  cursor: pointer;
}

@media (max-width: 1279px) {
  .cover {
    margin: 0 0 108px;
    max-width: 100%;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin: 0 0 88px;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 0 0 64px;
  }
}