.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1184px;
  position: relative;
  margin: 0 48px 92px;
}

.cover:hover {
  cursor: pointer;
}

@media (max-width: 1279px) {
  .cover {
    margin: 0 0 108px;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin: 0 0 88px;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 0 0 64px;
  }
}