.cover__title {
  max-width: 560px;
  max-height: 152px;
  font-size: 72px;
  font-weight: 1.06;
  line-height: 900;
  text-align: center;
  text-decoration: none;
  margin: 245px auto 32px;
  padding: 0;
  color: #FFFFFF;  
  position: relative;
  z-index: 2;
}