.intro__article {
  max-width: 690px;
  align-items: flex-start;
}


@media (max-width: 1023px) {
  .intro__article {
    max-width: 720px;
  }  
}

@media (max-width: 767px) {
  .intro__article {
    max-width: 288px;
  }  
}