.place__website {
  display: flex;
  flex-direction: column;
  max-width: 456px;
  align-items: flex-start;
  justify-content: flex-end;
  row-gap: 12px;
  order: 1;
}

@media (max-width: 1023px) {
  .place__website {
    max-width: 352px;
  }
}

@media (max-width: 767px) {
  .place__website {
    max-width: calc(100% - 16px*2);
    margin: 0 16px;
  }
}

